body {
  background-color: grey;
}

#namesDetails {
  display: flex;
}

#container {
  background-color: blue;
  display: flex;
}

#details {
  list-style: none;
  width: 100px;
  overflow: hidden;
}


#data {
  background-color: yellow;
  list-style: none;
  width: 300px;
  overflow: hidden;
}


